.App {
  
}

.full-game{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(8, 100, 136, 0.603);
  background-image: linear-gradient(to top right,
  rgb(6, 6, 59),
  rgb(5, 49, 66),
  rgb(8, 105, 92),
  rgb(12, 88, 59),
  rgb(13, 105, 33),
  rgb(84, 104, 11));
  justify-content: center;

}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
 
}

.game-box {
  width: 8rem;
  height: 8rem;
  background-color: white;
  border: 1px solid black;
  color: black;
  display: flex;
  align-items: center;
  font-size: 8rem;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}